/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Friend";
  src: url("./assets/Fonts/Friend.ttf");
}
html {
  --ion-font-family: "Friend";
  --ion-text-color: white;
}

ion-content {
  --background: none;
  background: linear-gradient(160deg, #003049 0%, #669bbc 100%);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.8);
}

.parent {
  font-size: 30px;
}
.child {
  font-size: 2em;
}
ion-button {
  --background: transparent; /* Entfernt den Standard-Hintergrund */
  --background-focused: transparent; /* Entfernt den Hintergrund, wenn der Button fokussiert ist */
  --background-hover: none; /* Entfernt den Hintergrund beim Überfahren mit der Maus */
  --background-activated: transparent; /* Entfernt den Hintergrund, wenn der Button aktiviert ist */
  --ripple-color: transparent; /* Entfernt den Ripple-Effekt bei Klick oder Tippen */
  --box-shadow: none;

  border: 2px solid #ffffff;
  color: #ffffff;
  margin: 50px;
  padding: 10px 20px;
  text-transform: uppercase; /* Für Großbuchstaben */
  font-weight: bold; /* Für fett gedruckten Text */
  font-size: 2em; /* Schriftgröße */
  width: auto; /* Oder die gewünschte Breite, oder entfernen Sie diese Eigenschaft für automatische Breite */
  height: auto; /* Für automatische Höhe, oder setzen Sie einen spezifischen Wert */
  display: block; /* Für Block-Level-Elemente, oder 'inline-block' für Inline-Block-Elemente */
  text-align: center; /* Zentriert den Text im Button */
}

button.alert-button.alert-button-decline {
  color: red;
}
button.alert-button.alert-button-accept {
  color: green;
  margin-right: 35%;
}
ion-alert .alert-button {
  font-size: 1.5rem !important; /* Setzt die Schriftgröße und erzwingt die Regel */
}

.QuestText{
  font-size: 2.5em;
  text-align: center;
  margin-top: 25%;
}
