.title {
  font-size: 6em;
  text-align: center !important;
}
.button {
  margin-top: 10%;
}
.card {
  margin-top: 110%;
}
.distance {
  font-size: 24px;
}
.description {

  --background: transparent;
  --color: white;
  font-size: 2em;
  text-align: center;
  margin: 10%

}
