<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quest1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>git
      <ion-title size="large">quest1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="ion-margin-top">
    <ion-card-content>
      <label>Distance: {{distance}}</label>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" class="button" (click)="finishQuest()">Done</ion-button>
</ion-content>
<ion-alert [isOpen]="isAlertOpen"
           header="Quest Complete"
           sub-header="You have completed the quest!!!"
           message="press OK to continue"
           [buttons]="alertButtons"
           (didDismiss)="alert(false)">
</ion-alert>
