<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>git
      <ion-title size="large">quest1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="title">QUEST 1</div>
  <ion-card class="card">
    <ion-card-content>
      <label class="distance">Distance: {{distance}}m</label>
    </ion-card-content>
  </ion-card>
  <ion-button [disabled]="btndissabled" expand="block" class="button" (click)="finishQuest()">Done</ion-button>
</ion-content>
<ion-alert [isOpen]="isAlertOpen"
           header="Quest Complete"
           sub-header="You have completed the quest!!!"
           message="press OK to continue"
           [buttons]="alertButtons"
           (didDismiss)="alert(false)">
</ion-alert>
