.title {
  font-size: 6em;
  text-align: center !important;
}
.Quest4schrift{
  font-size: 3em;
  text-align: center;
}
.description {

  --background: transparent;
  --color: white;
  font-size: 2em;
  text-align: center;
  margin: 10%

}
